.perfil{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.perfil h2{
    font-size: 24px;
}

.foto{
    width: 369px;
    height: 260px;
}

.perfil p{
    font-size: 16px;
}

.dados-perfil{
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.bio{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    height: 344px;
    padding: 16px;
    box-sizing: border-box;
    text-align: left;
    font-size: 24px;
    color: #495057;
}

.box{
    display: flex;
    justify-content: space-between;
    margin-left: 9%;
    width: 1167px;
    border-bottom: 1px solid #dee2e6;
}

.title{
    font-size: 24px;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.projects h2{
    font-size: 16px;
}

.card2{
    border-radius: 5px;
    border: 2px solid #FFC107;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.yellow{
    color: #FFC107;
}
