header{
    background: linear-gradient(265deg, #203C86 46.03%, #203C86 53.97%);
}

.topbox{
    justify-content: flex-end;
    gap: 53px
}

.icons{
    gap: 20px;
}

.text{
    font-family: "Monserrat", serif;
    font-size: 11px;
}

.linha-1{
    background: #FFF;
    opacity: 0.2;
    display: inline-block;
    width: 100%;
    height: 1px;
}

.logo{
    width: 126.964px;
    height: 50px;
}

.list{
    list-style: none;
    gap: 43px;
}

.list a{
    text-decoration: none;
    color: #FFF;
}

.principal-box{
    justify-content: space-around;
}

.secundary-box a:hover{
    border-bottom: 3px solid #FFC82C;
    font-style: bold;
}
