header{
    width: 100%;
    background: linear-gradient(265deg, #203C86 46.03%, #203C86 53.97%);
}

.top{
    max-width: 1200px;
    justify-content: center;
}

.topbox{
    justify-content: flex-end;
    gap: 53px
}

.icons{
    gap: 20px;
}

.text{
    font-family: "Monserrat", serif;
    font-size: 11px;
}

.linha-1{
    background: #FFF;
    opacity: 0.2;
    display: inline-block;
    width: 100%;
    height: 1px;
}

.logo{
    width: 126.964px;
    height: 50px;
}

.menu{
    display: none;
}

.list{
    list-style: none;
    gap: 43px;
}

.list a{
    text-decoration: none;
    color: #FFF;
}

.principal-box{
    justify-content: space-around;
}

.secundary-box a:hover{
    border-bottom: 3px solid #FFC82C;
    font-style: bold;
}

.first-section .minisection1 h1{
    font-size: 38px;
}

.minisection1{
    margin-top: 100px;
}

.minisection1 p{
    font-style: italic;
}

.first-text{
    max-width: 785px;
    color: #3C4858;
    font-family: Lato;
    margin-top: 70px;
    line-height: 170%;
}

.logo-principal{
    margin-top: 45px;
}

.minisection2{
    margin-top: 76px;
} 

.minisection2 a{
    text-decoration: none;
    font-size: 24px;
}

.minisection2 a:hover{
    width: 500px;
    border-bottom: 3px solid #FFC82C;
    font-style: bold;
}

.part-2{
    justify-content: flex-end;
    width: 100%;
    gap: 30px;

}

.second-text{
    max-width: 475px;
    align-self: flex-start;
    font-family: Lato;
    line-height: 170%;
    text-align: left;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
}

.card figure img{
    max-width: 100%;
    transform: scale(115%);
    margin-bottom: 25px;
    margin-top: 90px;
}

.card figure figcaption{
    border: 1px solid #203C86;
    width: 439px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    font-family: "Montserrat";
}

.part-3 .minisection3{
    margin-top: 90px;
}

.part-3 b{
    font-size: 24px;
}

.part-4{
    margin-bottom: 113px;
}

footer{
    padding: 60px 16px;
    width: 100%;
    background: var(--Linear, linear-gradient(130deg, #0D3F82 23.84%, #001736 73.02%));
}

.icons-2{
    gap: 24px;
    margin-top: 47px;
}

.icons-2{
    gap: 24px;
    margin-top: 24px;
}

.f-list1{
    list-style: none;
    margin-top: 47px;
    gap: 24px;
}

.f-list2{
    list-style: none;
    margin-top: 24px;
    gap: 24px;
}

.f-part1{
    max-width: 272px;
}

.f-part1 span{
    margin-left: 24px;
}

.icons{
    align-items: flex-start;
}

.f-part2{
    max-width: 496px;
}

.f-part2 ul{
    list-style: none;
}

footer .espaçar{
    justify-content: space-between;
}

.f-list3{
    gap: 10px;
}

.f-list4{
    gap: 10px;
    margin-left: 24px;
}

.f-part3{
    max-width: 269px;
}

.block{
    padding: 32px 24px;
    border-radius: 6px;
    background: #FFF;
}

.f-part3 button{
    padding: 12px 22px;
    align-items: center;
    gap: 15px;
    border: none;
    border-radius: 3px;
    background: var(--ui-color-primary-light, #3A95E9);
    font-family: "Lato", sans-serif;
}

@media (max-width: 568px) {
    body {
        font-family: 'Montserrat', sans-serif;
    }

    header{
        width: 100%;
        padding: 12px 16px;
    }

    header .top{
        display: none;
    }

    header .linha-1{
        display: none;
    }

    header .secundary-box{
        display: none;
    }

    header .menu{
        display: block;
    }

    .first-section{
        padding: 16px;
    }

    .minisection1{
        margin-top: 24px;
    }

    .minisection1 p{
        text-align: right;
    }

    main .part-2{
        flex-wrap: wrap-reverse;
        padding: 16px;
    }

    main .part-3{
        padding: 16px;
    }

    .cards{
        display: flex;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        flex-direction: row;
    }

    footer{
        width: 100%;
    }

    footer .espaçar{
        flex-direction: column;
        padding: 40px 16px;
    }

    footer .icons-2{
        max-width: 260px;
        padding: 0 16px;
    }
}




