.bloco-1{
    align-items: center;
}

.bloco-1 .linha-1{
    width: 60px;
    height: 1px;
    transform: rotate(90deg);
    background:#FFF;
}

.bloco-1 .autor{
    color: #FFF;
    font-size: 21px;
    font-style: italic;
}

.bloco-2{
    align-items: center;
}

.bloco-2 .input-linha {
    border-style: none;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    background: transparent;
    width: 281.5px;
  }

.bloco-2 .list{
    list-style: none;
}

.bloco-2 .links{
    flex-direction: row;
}

.bloco-2 .links .white{
    color: #FFF;
}

.bloco-2 .linha-2{
    width: 16px;
    height: 1px;
    align-self: center;
    transform: rotate(90deg);
    background:#FFF;
}